<footer class="text-center text-lg-start pt-4 footer mt-auto">
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgb(206, 206, 206)">
    © 2025 Copyright:
    <a class="text-body" href="#">Marcin Derucki</a>
  </div>
  <!-- Copyright -->
</footer>