<div class="container">
  <div class="col-md-8 mb-5">
    <h1 class="display-3 my-5">API endpoints</h1>
    <p><code>GET all post <kbd>/api/posts/</kbd></code></p>
    <p><code>GET all post with pagination <kbd>/api/posts/pages?page={page number}&limit={limit per page}</kbd></code>
    </p>
    <p><code>GET one post <kbd>/api/posts/{_id}</kbd></code></p>
  </div>
</div>